{% extends 'base.html' %}

{% block content1 %}
  body, html {
  height:100%;
  margin: 0;
}


.bg{
  height: 100%; 

}

.sidenav {
  height: 100%;
  width: 220px;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  padding-top: 20px;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
}
.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  background-color: #cccccc;
  height: 100%;
  width:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-left: 0px; /* Same as the width of the sidenav */
  /* Increased text to enable scrolling */

}
.text {
  margin-left: -50px; 
  background-color: black; 
  color: white; 
  font-size: 17px; 
  margin-top: 20px; 
  margin-right: 30px; 
  padding-left: 20px;

}



{% endblock %}

{% block content %}
{% if emotions_name %}

    <script type = "text/javascript" src = "https://www.gstatic.com/charts/loader.js">
      </script>
      <script type = "text/javascript">
         google.charts.load('current', {packages: ['corechart']});     
      </script>
      <script language = "JavaScript">
         function drawChart() {
            // Define the chart to be drawn.
            var data = google.visualization.arrayToDataTable([
               ['Sentiment', 'value', { role: 'style' }],
               ["Anger",{{emotions_values.0}},'red'],
               ["Anticipation",{{emotions_values.1}},"green"],
               ["Disgust",{{emotions_values.2}},'orange'],
               ["Fear",{{emotions_values.3}},'cyan'],
               ["Joy",{{emotions_values.4}},'blue'],
               ["Negative",{{emotions_values.5}},'#e0440e'],
               ["Positive",{{emotions_values.6}},'#e6693e'],
               ["Sadness",{{emotions_values.7}},'#ec8f6e'],
               ["Surprise",{{emotions_values.8}},'#f3b49f'],
               ["Trust",{{emotions_values.9}},'#f6c7b6']

            ]);

           var options = {title: 'Emotions words count ',
                          'backgroundColor': 'transparent',
                          legend: {position: 'none'}};  

            // Instantiate and draw the chart.
            var chart = new google.visualization.BarChart(document.getElementById('chart'));
            chart.draw(data, options);
         }
         google.charts.setOnLoadCallback(drawChart);
      </script>

      {% endif %}


{% if male_count %}



<script type = "text/javascript" src = "https://www.gstatic.com/charts/loader.js">
      </script>
      <script type = "text/javascript">
         google.charts.load('current', {packages: ['corechart']});     
      </script>
      <script language = "JavaScript">
         function drawChart() {
            // Define the chart to be drawn.
            var data = google.visualization.arrayToDataTable([
               ['Sentiment', 'Positive', 'Negative',"Neutral"],
               ['Male',{{male_lis.0}},{{male_lis.1}},{{male_lis.2}}],
               ["Female",{{female_lis.0}},{{female_lis.1}},{{female_lis.2}}]
            ]);

            var options = {title: 'Gender-wise Sentiment', isStacked:true,
                            'backgroundColor': 'transparent',legend: {'position':'top','alignment':'center'},
                                  series: {
                                  0:{color:'green'},
                                  1:{color:'red'},
                                  2:{color:'yellow'}}};  

            // Instantiate and draw the chart.
            var chart = new google.visualization.BarChart(document.getElementById('bar_chart'));
            chart.draw(data, options);
         }
         google.charts.setOnLoadCallback(drawChart);
      </script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Male',     {{male_count}}],
          ['Female',      {{female_count}}],
        ]);

        var options = {
          title: 'Gender-wise Reviews percentage',
          'backgroundColor': 'transparent',
          'width':550,
          'height':300,
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }
    </script>
{% endif %}

<div class="bg">
<div class="row" style="height: 100%">
  <div class="col-2">
    <div class="sidenav">
      <a href="positive">Top Positive Words</a>
      <a href="negative">Top Negative Words</a>
      <a href="neutral">Top Neutral Words</a>
    </div>
    </div>

  <div class="col-10" >
    <div class="main">
      <div class="row">
        <div class="col-6">
  {% if graph %}
<div class="graph" style="margin-top:-20px;" >
{{ graph|safe }}
</div>
{% endif %}
</div>
   <div class=col-6>
    <div id="chart" style="width: 550px; height: 300px;" ></div>
    </div>
</div>
  
<div class="row">
<div class="col-6">
  <div id="piechart_3d" style="margin-left: 0px;"></div>
  </div> 
  <div class="col-4" style="padding-top: 10px;">
      <div id = "bar_chart" style = "width: 550px; height: 280px;">
      </div>

   </div>



</div>

</div>  
  </div> 
</div>

</div>


{% endblock %}
